<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/login}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Designer Login Page</button>
</form>


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:action="@{/home}"
                  th:object="${project}" method="post" class="form-horizontal"

                    <a th:text="${project}" >project</a>

            </form>
            <form th:object="${project}" th:action="@{/customer/buy/{id}(id=${project.id})}" method="get">
                <button class="ui-button" type="Submit">Buy it</button>
            </form>
            <form th:object="${project}" th:action="@{/customer/like/{id}(id=${project.id})}" method="get">
                <button class="ui-button" type="Submit">Like</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>