<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List of Company</h1>


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:action="@{/home}"
                  th:object="${companies}" method="post" class="form-horizontal"
                  role="form">
                <ul th:each="company : ${companies}">
                    <a th:href ="@{/customer/profile}" th:text="${company}" >Company</a>
                </ul>

            </form>
        </div>
    </div>
</div>

</body>
</html>