<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eleganter - FOW</title>
    <link rel="stylesheet" th:href="@{/css/components.css}">
    <link rel="stylesheet" th:href="@{/css/icons.css}">
    <link rel="stylesheet" th:href="@{/css/responsee.css}">
    <link rel="stylesheet" th:href="@{/owl-carousel/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/owl-carousel/owl.theme.css}">
    <link rel="stylesheet" th:href="@{/css/template-style.css}">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
</head>

<body class="size-1140">
<!-- PREMIUM FEATURES BUTTON -->
->
<header role="banner" class="position-absolute">
    <!-- Top Navigation -->
    <nav class="background-transparent background-transparent-hightlight full-width sticky">
        <div class="s-12 l-2">
            <a href="index.html" class="logo">
                <!-- Logo White Version -->
                <img class="logo-white" th:src="@{/images/logo.png}" alt="">
                <!-- Logo Dark Version -->
                <img class="logo-dark" th:src="@{//images/logo-dark.png}" alt="">
            </a>
        </div>
        <div class="top-nav s-12 l-10">
            <p class="nav-text"></p>
            <ul class="right chevron">
                <li><a th:href="@{/home}">Home</a></li>
                <li><a>Registration</a>
                    <ul>
                        <li><a th:href="@{/registration_co}">As Company</a></li>
                        <li><a th:href="@{/registration_des}">As Designer</a></li>
                        <li><a th:href="@{/registration_cu}">As Customer</a></li>
                    </ul>
                </li>
                <li><a>Service</a></li>
                <li><a>Services</a>
                    <ul>
                        <li><a a th:href="@{/company}">All Companies</a></li>
                        <li><a a th:href="@{/designer}">All Designers</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </nav>
</header>

<!-- MAIN -->
<main role="main">
    <!-- Main Header -->
    <header>
        <div class="carousel-default owl-carousel carousel-main carousel-nav-white background-dark text-center">
            <div class="item">
                <div class="s-12">
                    <img th:src="@{/images/header.jpg}" alt="">
                    <div class="carousel-content">
                        <div class="content-center-vertical line">
                            <div class="margin-top-bottom-80">
                                <!-- Title -->
                                <h1 class="text-white margin-bottom-30 text-size-60 text-m-size-30 text-line-height-1">Furniture Ordering Website<br> General Description</h1>
                                <div class="s-12 m-10 l-8 center"><p class="text-white text-size-14 margin-bottom-40">This website's main goal is helping clients, designers and companies by offering the possibility to choose a certain piece of furniture modeled by a desired designer and provided by a picked-out company.</p></div>
                                <div class="line">
                                    <div class="s-12 m-12 l-3 center">
                                        <li><a class="button button-white-stroke s-12" href="/">Get Registered Now <br/> as</a></li>
                                        <ul>
                                            <li><a th:href="@{/registration_co}">Company</a></li>
                                            <li><a th:href="@{/registration_des}">Designer</a></li>
                                            <li><a th:href="@{/registration_cu}">Customer</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Section 1 -->
    <section class="section-small-padding background-white text-center">
        <div class="line">
            <div class="margin">
                <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                        <i class="icon-sli-shield icon3x text-dark center margin-bottom-30"></i>
                        <h2 class="text-thin">Company:</h2>
                        <p class="margin-bottom-30">As a company you can, accept project proposals from clients and make them  if you can.<br/>Collaborate with designers to make projects together </p>
                        <a class="button button-dark-stroke text-size-12"th:href="@{/registration_co}">Register</a>
                    </div>
                </div>
                <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                        <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                        <h2 class="text-thin">Designer:</h2>
                        <p class="margin-bottom-30">As Designer you can post your projects, and the companies can do them.<br/>Collaborate with companies to make projects together</p>
                        <a class="button button-dark-stroke text-size-12" th:href="@{/registration_des}">Register</a>
                    </div>
                </div>
                <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                        <i class="icon-sli-home icon3x text-dark center margin-bottom-30"></i>
                        <h2 class="text-thin">Customer:</h2>
                        <p class="margin-bottom-30">As a client you can choose any project you want and the company you want to make them for you</p>
                        <a class="button button-dark-stroke text-size-12" th:href="@{/registration_cu}">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 1 -->
    <section class="section">
        <div class="line">
            <h2 class="text-size-50 text-center">About Us</h2>
            <hr class="break-small background-primary break-center">
        </div>
        <div class="line">
            <div class="margin">
                <div class="s-12 m-12 l-2">
                    <p class="h1 text-size-30 margin-m-bottom-30 text-primary text-line-height-1 text-right">We Are<br> Furniture Design Heroes</p>
                </div>
                <div class="s-12 m-12 l-5">
                    <p class="text-size-14 margin-m-bottom-30 text-dark">We propose an easy solution to interact with customers, furniture suppliers and designers who carry out innovative projects. </p>
                </div>
                <div class="s-12 m-12 l-5">
                    <p class="text-size-14 text-dark"> This website's main goal is helping clients, designers and companies by offering the possibility to choose a certain piece of furniture modeled by a desired designer and provided by a picked-out company.You can chose what do you want for easing interact with another users</p>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" th:src="@{/js/responsee.js}"></script>
    <script type="text/javascript" th:src="@{/owl-carousel/owl.carousel.js}"></script>
    <script type="text/javascript" th:src="@{/js/template-scripts.js}"></script>
</main>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Registration Form</title>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<form th:action="@{/login}" method="get">-->
<!--    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Designer Login Page</button>-->
<!--</form>-->

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 col-md-offset-3">-->
<!--            <form th:action="@{/home}"-->
<!--                  th:object="${projects}" method="post" class="form-horizontal"-->
<!--                  role="form">-->
<!--                <ul th:each="project : ${projects}">-->
<!--                    <a th:href ="@{/project/{id}(id=${project.id})}" th:text="${project}" >project</a>-->
<!--                </ul>-->

<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->