<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>List of companies which I can collaborate</h1>
<form th:object="${companies}" method="post" class="form-horizontal"
      role="form">
    <ul th:each="company : ${companies}">
        <a th:href ="@{/designer/send_request/{id}(id=${company.id})}" th:text="${company}" >Company</a>

    </ul>

</form>
</body>
</html>