<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="panel-group" style="margin-top:40px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span th:utext="${str}"></span>
        </div>
        <div class="panel-body">
            <img th:src="@{/images/beer.jpg}" class="img-responsive center-block" width="400" height="400"
                 alt="Beer"/>
        </div>
        <h1>Collaborating Companies</h1>
        <form th:action="@{/home}"
              th:object="${companies}" method="post" class="form-horizontal"
              role="form">
            <ul th:each="company : ${companies}">
                <a th:href ="@{/customer/profile}" th:text="${company}" >Company</a>
            </ul>

        </form>
        <h1>Own Project</h1>
        <form th:action="@{/home}"
              th:object="${projects}" method="post" class="form-horizontal"
              role="form">
            <ul th:each="project : ${projects}">
                <a th:href ="@{/project/{id}(id=${project.id})}" th:text="${project}" >project</a>
            </ul>

        </form>
        <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
    </div>
</div>
</body>
</html>